<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}GeoRouteEC{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background: #f4f6f9;">
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/adminlte.min.js') }}"></script>
</body>
</html>
